@import "./variables";
/*navbar*/
.navbar {
    height: 85px;
    background-color: $primaryNav;
}

.navbar a {
    color: $white;
}

.navbar-brand {
    font-size: 38px;
    margin-right: 60px;
    margin-left: 20px;
    color: $white;
}

.navbar-collapse { 
    background-color: $primaryNav;
}

.kategorie {
    background-color: $primaryNav;
}
.kategorie li a{
    color: $white;
}

.account { 
    right: 500px;
}

.searchbtn {

    color: $white;
    border:solid 1px $white;

    &:hover {
        background-color: $secondaryNav;
        border:solid 1px black;
}
}
.navbarbtn {
    background-color: $secondaryNav;
}/*navbar koniec*/

/*main part, otazky kategorie, homepage*/
.otazkyrow { 
    height: 450px;
    background-color: $secondaryNav;
    display: flex;
    align-items: center;
}
.otazky { 
    display: flex;
    justify-content: center;
}
.mainotazky{ 
    display: flex;
    background-color: $white;
    color: black;
    border: solid 1px rgb(160, 160, 160);
    border-radius: 4px;
    margin-bottom: 15px;
}
::placeholder { 
    color: rgb(85, 85, 85);
}
.otazka {
    padding: 6px 10px;
    width: 400px;
}
.vyberkategorie {
    padding: 6px 10px;
    width: 400px;
}
/*Koniec main part*/


/*Registracia,prihlasenie*/

.prihlasenie {
    background-color: $secondaryNav;
    border-radius: 5px;
    height: 360px;
    max-width: 550px;
}
.signinbtn {
    margin-top: 15px;
    border: solid black 1px;
}

.registracia {
    background-color: $secondaryNav;
    border-radius: 5px;
    height: 360px;
    max-width: 550px;
}

.registerbtn {
    margin-top: 5px;
    border: solid black 1px;
}
/*Koniec Registracia,prihlasenie*/