@import "./variables";
/*Navbar*/
.navbar {
    height: 85px;
    background-color: $primaryNav;
}

.navbar a {
    color: $white;
}

.navbar-brand {
    font-size: 38px;
    margin-right: 60px;
    margin-left: 20px;
    color: $white;
}

.navbar-collapse { 
    background-color: $primaryNav;
}

.kategorie {
    background-color: $primaryNav;
}
.kategorie li a{
    color: $white;
  }

.searchbtn {
    color: $white;
    border:solid 1px $white;

    &:hover {
        background-color: $secondaryNav;
        border:solid 1px black;
}
}

.navbarbtn {
    background-color: $secondaryNav;

}
